* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    color: seashell;
    font-size: 22px;
    background-color: black;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 1;
    align-items: center;
    background-color:black;
}

header img {
    height: 50px;
    margin-left: 10px;
}

li {
    list-style-type: none;
    display: inline;
    
}

li a {
    text-align: center;
    color: seashell;
    padding: 0 20px;
}

li a:hover {
    color: grey;
}

main {
    position: relative;
    top: 70px;
    text-align: center;
}

#mission {
    background-image: url("images/background.jpg");
    background-size: cover;
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;

}

.container {
    background-color: black;
    padding: 10px;

}
h2 {
    margin-bottom: 15px;
}

#feature {
    width: 1000px;
    margin: 0 auto;
    /* border: 3px solid red; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#images {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#images img {
    width: 300px;
    height: 200px;
    margin: 10px 0 10px 0;
}

.bottom {
    width: 650px;
    /* border: 1px solid blue; */
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 100px;
}

#locations {
    background-image: url("images/locations-background.jpg");
    background-size: cover;
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

article {
    background-color: black;
    opacity: 1;
    width: 300px;
    margin-left:40px;
}

.articles {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

address , h3{
    margin: 25px 0 25px 0;
}

.upper_footer {
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}
.copy {
    text-align:left;
    margin-left: 20px
}